flask~=3.0.3
flask-smorest
python-dotenv~=1.0.1
sqlalchemy~=2.0.32
sqlalchemy-model
flask-sqlalchemy
marshmallow~=3.22.0
flask-jwt-extended~=4.6.0
passlib~=1.7.4
flask-migrate~=4.0.7
gunicorn
requests~=2.32.3
pymysql

flask-cors~=5.0.1
alembic~=1.13.2